<div>
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a ng-repeat="item in categories" href="#"
           class="list-group-item"
           ng-click="selected($event, item)"
           ng-class="(currentCategory._id === item._id) ? 'active' : ''">{{ item.name }}
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="gallery-current-image">
        <div class="gallery-selected-image-container hidden"
             ng-class="showImage === true ? 'visible': 'hidden'">
          <button type="button" class="btn btn-danger btn-close-preview"
                  ng-click="showImage = false">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
          <img class='selected-image'
               ng-src="http://www.vntconstructionllc.com/{{ currentImage.src }}">
        </div>
      </div>
      <div class="row">
        <div class="gallery-thumbnail-container"
             ng-repeat="image in images">
          <a href="" class="thumbnail" ng-click="selectImage($event, image)">
            <img ng-src="http://www.vntconstructionllc.com/{{ image.src }}"
                 alt="{{image.name}}"
                 class="img-thumbnail">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
