<div style="position: relative;">
  <input ng-model="query" ng-keyup="_keyup($event, query)"
          ng-focus="_focus($event)"
          ng-blur="_blur($event)"
  type="text" class="form-control"></input>

  <div ng-show="choices.length"class="list-group ap-tagger-choices"
        style="position: absolute; z-index: 2; width: 100%;"
        ng-transclude="option"></div>

  <div class='ap-select-selected-container'>
      <div class="ul-selected" ng-transclude="match">
      </div>
    </div>
</div>
