<div ng-repeat="match in $parent.items track by $index" class="btn-group padding-5">
  <ng-transclude></ng-transclude>
  <button type="button" class="btn btn-danger btn-sm" ng-click="_remove(match, $index)">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </button>
</div>
