<div id="ap-ticker" style="">
  <div id="ngtickerMessage" class="ngtickerMessage">
    <ul>
      <li class="list" ng-style="{opacity:setVisible($index)}"
          style="display:initial;
                  position:absolute;
                  -webkit-transition: all .8s;
                  transition: all .8s;"
          ng-repeat="item in items track by $index">
        <div class="ap-ticker-item-preview">
          <a href="#/blog/{{item.title}}/{{item._id}}">
            <h2 class="ap-ticker-item-title">
              {{item.title}}
            </h2>
            <p class="ap-ticker-item-body">
              {{item.snippet}}
            </p>
          </a>
          <p class="ap-ticker-item-meta">Posted by <a href="">{{item.displayName}}</a> on {{(item.updatedAt * 1000) |
            date:'medium'}} </p>
        </div>
      </li>
    </ul>
  </div>
</div>
