<div id="ap-carousel">
  <uib-carousel interval="interval" no-wrap="noWrap">
    <uib-slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}" style="width: 100%">

      <div class="carousel-caption">
        <h4>{{slide.title}}</h4>

        <p>{{slide.text}}</p>
      </div>
    </uib-slide>
  </uib-carousel>
</div>
