<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/">
        <div id="div-header-logo">
          <span id="span-logo-txt-1">{{config.logo.text}}</span>
          <span id="span-logo-txt-2"></span>
        </div>
      </a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
      <ul ng-if="items.social" class="nav navbar-nav">
        <li ng-repeat="item in items.social">
          <a href="{{item.href}}" target="{{item.target}}">
            <i class="{{ item.faIcon }}"></i>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li ng-repeat="item in items.main" class=""
            ng-class="(item.children) ? 'dropdown' : ''"
            uib-dropdown>
          <a ng-if="!item.children" href="{{item.href }}"
             ng-click="submit($event, item)">
            <span ng-if="item.glyphicon" class="glyphicon" ng-class="item.glyphicon"></span>
            {{item.name.toUpperCase()}}
          </a>

          <a ng-if="item.children && item.children.length > 0"
             href="{{item.href }}"
             class="dropdown-toggle"
             uib-dropdown-toggle="dropdown">
            <span ng-if="item.glyphicon" class="glyphicon" ng-class="item.glyphicon"></span>
            {{item.name.toUpperCase()}}
            <b class="caret"></b>
          </a>
          <ul ng-if="item.children && item.children.length > 0"
              class="dropdown-menu" role="menu">
            <li ng-repeat="child in item.children">
              <a href="{{child.href }}" ng-click="submit($event, item)">
                <span ng-if="child.glyphicon" class="glyphicon" ng-class="child.glyphicon"></span>
                {{child.name.toUpperCase()}}
              </a>
            </li>

          </ul>
        </li>

        <li ng-if="loggedIn === true">
          <button ng-click="logout($event)" class="btn btn-success" type="button">LOG OUT</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
